@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}
.search{
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.search >input{
    border: 2px dotted #c4c4c4;
    text-align: center;
    font-size: xx-large;
    color: #818181;
}
.search :focus{
    border: 2px solid #a1a1a1;
    outline: none;
    color: #000000;
   
}
.conntainer{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 4px 10px;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.containerGame {
    text-align: center;
    max-width: 50%;
    margin: 25px auto;
}
.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: 5px auto;
}

.title {
    background-color: #f25;
    color: azure;
    padding: 2px 0px;
    margin: 10px auto;
    font-size: 25px;
}

span {
    color: rgb(255, 238, 0);
}

.square {
    height: 100px;
    width: 100px;
    background-color: #f25;
    float: left;
    margin: 5px;
    font-size: 40px;
    color: azure;
    font-weight: 600;
    padding: 25px;
    transition: 0.3s ease;

}

.square:hover {
    background-color: #000;
    cursor: pointer;
}
